<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table width="100%" bgcolor="#C6C6C6" align="center" cellspacing="1" border="0" cellpadding="0">
        <tr>
            <td style='color: white; background-color: #4F608C;' align="center">
                赛事
            </td>
            <td style='color: white; background-color: #4F608C;' align="center">
                时间
            </td>
            <td style='color: white; background-color: #4F608C;' align="center">
                主队
            </td>
            <td style='color: white; background-color: #4F608C;' align="center">
                比分
            </td>
            <td style='color: white; background-color: #4F608C;' align="center">
                客队
            </td>
            <td style='color: white; background-color: #4F608C;' align="center">
                让球
            </td>
        </tr>
        <tr>
            <td bgcolor="[$sclassArr4]" style='color: White' align="center">
                [$sclassArr1]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$scheduleArr10]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="right">
                [$scheduleArr4]
            </td>
            <td bgcolor="White" style="line-height: 21px;color: Blue;" align="center">
                [$scheduleArr13]-[$scheduleArr14]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="left">
                [$scheduleArr7]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$scheduleArr25]
            </td>
        </tr>
    </table>
    <table width="100%" bgcolor="#C6C6C6" align="center" cellspacing="1" border="0" cellpadding="0">
        <tr>
            <td style='color: white; background-color: #4F608C;' colspan="3" align="center">
                亚赔指数
            </td>
            <td style='color: white; background-color: #4F608C;' colspan="3" align="center">
                欧赔指数
            </td>
        </tr>
        <tr>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$oddsArr3]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$oddsArr2]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$oddsArr4]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$oddsArr6]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$oddsArr7]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$oddsArr8]
            </td>
        </tr>
    </table>
    <table width="100%" bgcolor="#C6C6C6" align="center" cellspacing="1" border="0" cellpadding="0">
        <tr>
            <td style='color: white; background-color: #4F608C;' align="center" rowspan="2" 
                width="10%">
                比赛
            </td>
            <td style='color: white; background-color: #4F608C;' colspan="3" align="center">
                初盘
            </td>
            <td style='color: white; background-color: #4F608C;' colspan="3" align="center">
                终盘
            </td>
        </tr>
        <tr>
            <td style='color: white; background-color: #4F608C;' align="center" width="15%">
                胜</td>
            <td style='color: white; background-color: #4F608C;' align="center" width="15%">
                平</td>
            <td style='color: white; background-color: #4F608C;' align="center" width="15%">
                负</td>
            <td style='color: white; background-color: #4F608C;' align="center" width="15%">
                胜</td>
            <td style='color: white; background-color: #4F608C;' align="center" width="15%">
                平</td>
            <td style='color: white; background-color: #4F608C;' align="center" width="15%">
                负</td>
        </tr>
        <tr>
            <td bgcolor="White" style="line-height: 21px;">
                所有
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$q1t1r3]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center" valign="middle">
                [$q1t1r1]
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$q1t1r0]
            </td>
            <td bgcolor="[$q1t2r3_bgcolor]" style="line-height: 21px;" align="center">
                [$q1t2r3]
            </td>
            <td bgcolor="[$q1t2r1_bgcolor]" style="line-height: 21px;" align="center">
                [$q1t2r1]
            </td>
            <td bgcolor="[$q1t2r0_bgcolor]" style="line-height: 21px;" align="center">
                [$q1t2r0]
            </td>
        </tr>
        <tr>
            <td bgcolor="White" style="line-height: 21px;">
                国家
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$q2t1r3]
            </td>  
            <td bgcolor="White" style="line-height: 21px;" align="center">   
                [$q2t1r1]
            </td>  
            <td bgcolor="White" style="line-height: 21px;" align="center">   
                [$q2t1r0]
            </td>  
            <td bgcolor="[$q2t2r3_bgcolor]" style="line-height: 21px;" align="center">   
                [$q2t2r3]
            </td>  
            <td bgcolor="[$q2t2r1_bgcolor]" style="line-height: 21px;" align="center">   
                [$q2t2r1]
            </td>  
            <td bgcolor="[$q2t2r0_bgcolor]" style="line-height: 21px;" align="center">   
                [$q2t2r0]
            </td>
        </tr>
        <tr>
            <td bgcolor="White" style="line-height: 21px;">
                赛事
            </td>
            <td bgcolor="White" style="line-height: 21px;" align="center">
                [$q3t1r3]
            </td>  
            <td bgcolor="White" style="line-height: 21px;" align="center">   
                [$q3t1r1]
            </td>  
            <td bgcolor="White" style="line-height: 21px;" align="center">   
                [$q3t1r0]
            </td>  
            <td bgcolor="[$q3t2r3_bgcolor]" style="line-height: 21px;" align="center">   
                [$q3t2r3]
            </td>  
            <td bgcolor="[$q3t2r1_bgcolor]" style="line-height: 21px;" align="center">   
                [$q3t2r1]
            </td>  
            <td bgcolor="[$q3t2r0_bgcolor]" style="line-height: 21px;" align="center">   
                [$q3t2r0]
            </td>
        </tr>
        <tr>
            <td bgcolor="White" style="line-height: 21px;" rowspan="3">
                公司</td>
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">
                [$q1t1r3_list]</td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q1t1r1_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q1t1r0_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
                [$q1t2r3_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q1t2r1_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q1t2r0_list]
            </td>
        </tr>
        <tr>
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">
                [$q2t1r3_list]</td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q2t1r1_list]</td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q2t1r0_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
                [$q2t2r3_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q2t2r1_list]</td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q2t2r0_list]
            </td>
        </tr>
        <tr>
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">
                [$q3t1r3_list]</td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q3t1r1_list]</td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q3t1r0_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
                [$q3t2r3_list]
            </td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q3t2r1_list]</td>  
            <td bgcolor="White" style="line-height: 21px; font-size: 12px;" valign="top">   
            [$q3t2r0_list]
            </td>
        </tr>
    </table>
</body>
</html>
