<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->
    <!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"/>-->
    <!--<add key="ConnectionString" value="Data Source=SEO-JP\SQLEXPRESS;Initial Catalog=BetHelpDB;Persist Security Info=True;User ID=sa;Password=123"/>-->
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=BetHelpDB;Persist Security Info=True;User ID=sa;Password=123"/>
    <!--权限模块连接字符串-->
    <add key="ConnectionStringAccounts" value="server=127.0.0.1;database=codematic;uid=sa;pwd="/>
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd="/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--登录页地址 -->
    <add key="LoginPage" value="admin/Login.aspx"/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <!--即时足球数据地址-->
    <add key="RootURL" value="http://live.nowodds.com/"/>
    <add key="InfoURL" value="http://info.nowscore.com/"/>
    <add key="OddsURL" value="http://1x2.nowscore.com/"/>
    <add key="LiveURL" value="https://mobile.sb-788.com/default.aspx"/>
    <add key="showgoallist" value="http://live.nowodds.com/detail/{0}.html"/>
    <!--即时足球数据地址-->
    <add key="LiveDataURL" value="http://live.nowodds.com/data/bf.js"/>
    <add key="HistoryDataURL" value="http://live.nowodds.com/data/score.aspx?date={0}"/>
    <add key="PastLiveDataURL" value="http://live.nowodds.com/data/ft1.js"/>
    <add key="FutureLiveDataURL" value="http://live.nowodds.com/data/sc1.js"/>
    <add key="LiveOddsURL" value="http://live.nowodds.com/data/goal{0}.xml"/>
    <add key="OddsDetailURL" value="odds/xml/odds.aspx?companyID={0}"/>
    <add key="OddsDataURL" value="odds/oddsData.aspx?date={0}"/>
    <add key="OddsChangeURL" value="http://live.nowodds.com/data/ch_goal{0}.xml"/>
    <add key="1x2Company" value="http://live.nowodds.com/1x2/Company.js"/>
    <add key="OddsHistoryURL" value="http://live.nowodds.com/1x2/OddsHistory.aspx?id={0}"/>
    <add key="Odds1x2URL" value="http://1x2.NowScore.com/{0}.js"/>
    <add key="AnalysisURL" value="http://live.nowodds.com/analysis/{0}.html"/>
    <add key="AsiaCompany" value="http://live.nowodds.com/odds/index.aspx"/>
    <add key="SmtpConfigPath" value="~/Config/"/>
    <add key="SendByMail" value="1"/>
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <identity impersonate="false"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>