<?xml version="1.0" encoding="utf-8"?>
<!-- 
    此文件的用途是阻止对模板文件的访问，不可以
    直接请求模板文件。
-->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" validate="true" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" name="AspxHandler" />
    </handlers>
  </system.webServer>
</configuration>